/* @import url("001.css"); */
/* @import url("002.css"); */
h1 {
    color: blue;
}
.abc{
    color: orange;
}
.xyz {
    color: red;
}
#xyz {
    color:palevioletred;
}
/* 選取器 */
/* 
    標籤
    類別class
    id _ 只能使用一次

    命名規範
    首字不能數字,特殊符號除了底線
    可使用_與-


    權重
    影響的元素越少，權重越重
    嵌入式 > id > class > tag

    當權重相同時，後寫的會優先套用

*/