<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .colorBox {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}} {{color}}</h1>
        <img :src="`images/${img}`" alt="">
        <div>
            {{desc}}
        </div>
        <div>剩餘數量{{qty}}</div>
        <div>
            <span v-if="qty > 5">庫存充足</span>
            <span v-else-if="qty > 0">低庫存</span>
            <span v-else>補貨中</span>
        </div>
        <div>
            <span 
                @click="changeIndex(idx)"
                v-for="(variable,idx) in variables" 
                class="colorBox" 
                :style="{backgroundColor:variable.hex}"
            ></span>
        </div>
        <div v-if="qty > 0">
            <button>加入購物車</button>
        </div>
        <div v-else>
            <button disabled>補貨中</button>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title: 'iPhone 13',
                    desc:'以 iPhone 8 或後續機型換購，獲享最高達 NT$3,000 - NT$21,200 折抵優惠**',
                    currentIndex:0,
                    variables: [
                        {
                            id:1,
                            color: '粉紅色',
                            hex: 'pink',
                            qty: 10,
                            img: 'iphone-13-pink-select-2021.png'
                        },
                        {
                            id:2,
                            color: '藍色',
                            hex: 'blue',
                            qty: 3,
                            img: 'iphone-13-blue-select-2021.png'
                        },
                        {
                            id:3,
                            color: '午夜色',
                            hex: 'black',
                            qty: 0,
                            img: 'iphone-13-midnight-select-2021.png'
                        },
                        {
                            id:4,
                            color: '星光色',
                            hex: 'white',
                            qty: 13,
                            img: 'iphone-13-starlight-select-2021.png'
                        },
                        {
                            id:5,
                            color: '紅色',
                            hex: 'red',
                            qty:2,
                            img: 'iphone-13-product-red-select-2021.png'
                        },
                    ]
                }
            },
            methods:{
                changeIndex(idx){
                    this.currentIndex = idx;
                },
            },
            computed:{
                img(){
                    return this.variables[this.currentIndex].img;
                },
                color(){
                    return this.variables[this.currentIndex].color
                },
                qty(){
                    return this.variables[this.currentIndex].qty
                }
            }
        }).mount('#app');
    </script>
</body>
</html>