:root {
    --red: #ff6060;
    --blue: #00b7ff;
    --orange: #ffc550;
    --yellow: #ffea74;
    --green: #5a9b47;
    --purple: #6c008d;
    --dark: #181818;
    --light: #f0f0f0;
}
header {
    width: 100%;
    height: 100vh;

    background-image: url('https://picsum.photos/id/1048/1600/1000');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about {
    width: 100%;
    height: 100vh;
    background-color: var(--yellow);
    /* background-image: url('https://picsum.photos/id/10/1600/1000'); */

}