:root {
    --red: #ff6060;
    --blue: #00b7ff;
    --orange: #ffc550;
    --yellow: #ffea74;
    --green: #5a9b47;
    --purple: #6c008d;
    --dark: #181818;
    --light: #f0f0f0;
}
header {
    width: 100%;
    height: calc(100vh + 10vw);
    /* height: 100vh; */

    background-image: 
        url('https://picsum.photos/id/1048/1600/1000');
    background-color: #aaa;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw), 0 100%);

    margin-bottom: -10vw;


}
.wave {
    background-image: url('images/wave.svg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#about {
    width: 100%;
    background-color: var(--yellow);
    /* background-image: url('https://picsum.photos/id/10/1600/1000'); */

    padding-top: calc(100px + 10vw);
    padding-bottom: 100px;


}
#about .row {
    align-items: center
}
.about-content {
    background-color: rgba(255,255,255,.6);
    padding: 30px;
    width: 60%;
    margin-left: auto;
    position: relative;
    right: -100px;
    z-index: 2;

    border-radius: 5px;
    line-height: 1.75rem;

    backdrop-filter: blur(5px);

    /* filter: blur(10px); */
}
#about h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}
.about-gallery {
    width:90%;
    position: relative;
    left: -100px;
    z-index: 1;
}
.about-gallery img {
    clip-path: circle();
}
/* team */
#team {
    padding-top: 100px;
    padding-bottom: 100px;
}
.team-avatar {
    width: 50%;
    border-radius: 50%;
    border: 6px solid var(--light);
    overflow: hidden;
    margin: auto;
}
.team-content {
    text-align: center;
}
/* CONTACT */

.contact-item {
    /* background-color: #ccc; */
    width: 80%;
    margin: auto;
}
.form-item {
    margin-bottom: 20px;
}
.form-label {
    margin-bottom: 10px;
    display: inline-block;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    outline:0;

    transition: .5s;
}
.form-control:focus {
    border: 1px solid rgb(246, 44, 44);
    background-color: #098;
}
.btn {
    display: inline-block;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.btn-yellow {
    background-color: #ffd54d;
    color: #000;
    transition: .5s;
}
/* 虛擬類別 偽類別 */
.btn-yellow:hover {
    background-color: #ffcc24;
}
.btn-blue {
    background-color: #08c5ff;
    color: #000;
}
